Variables d'environnement pour se log à la BDD :

DB_HOST=IP_DB
DB_PORT=PORT_DB
DB_USER=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=NAME_DB
API_PORT=PORT_API


CORS pour le navigateur :

ALLOWED_ORIGINS=URL_API
